.iTemplate {display: none !important;}
.mart28 {margin-top: 28px;}
.mart20 {margin-top: 20px;}
.panel-detail { border: 1px solid #eaeaea; }
.no-decor {text-decoration: none !important;}
.disable-link {pointer-events: none !important;cursor: default !important;}